<!DOCTYPE html>
<html>
<head> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="css/candytransfer.css">
</head>
<body>
  <div class="container" id="main">
     <div class="inner">
      <h2>Candy Transfer</h2>
            
      <form role="form">
        <div id="entry-container">
        </div>


        
      
        <!--<td><%= name %></td>
        <td><%= age %></td>
        <td><%= sex %></td>
        <td class="bringing">Im bringing <%= bringing %></td>
        <td><a href="#" data-trigger="edit">Edit</a> | <a href="#" data-trigger="remove">Remove</a></td>-->
      
        
        <script type="text/template" id="single-entry">
         <div class="clearfix form-intro">
          <h3 class="pull-left">Sugar Injection 1</h3>
          <button type="button" data-trigger="remove-sugar-injection" class="btn btn-danger btn-xs pull-right">Remove</button>
         </div>
       
         <div class="form-group">
          <label for="">Candy Type</label>
          <input name="" id="" class="form-control" placeholder="e.g. Nerd Rope" maxLength="28" value="<%= candyType %>" type="text">
         </div> 

         <div class="form-group">
           <label for="">Candy Profile</label>
           <select class="form-control">
             <option>Nougat</option>
             <option>Chocolate</option>
             <option>Nuts</option>
             <option>Gummies</option>
             <option>Jellies</option>
             <option>Artificial</option>
             <option>Caramel</option>
             <option>Rainbow Sweet</option>
             <option>Taffy</option>
             <option>Elf Powder</option> 
             <option>Tarts</option>
             <option>Licorice</option>
             <option>"Smart" Tart</option> 
             <option>Lollipop/Sucker</option>
             <option>"Rancher"</option>
             <option>Spicy Gummies</option>
             <option>Chewing Gum</option>
             <option>Rope/String/Chew</option>
             <option>Chewy</option>
            </select>
         </div>
         <div class="form-group">
          
            <span class="legend">Sweet</span><input type="range" min="1" max="10" value="0" class="form-control" /><span class="legend">Sour</span>
         </div>

         <div class="form-group">
           <label for="">Number of Pieces</label>
           <input name="" class="form-control" id="" placeholder="" value="<%= number %>" maxLength="25" type="tel">            
         </div>
         <div class="form-group">
           <label for="">US Dollar Amount</label>
           $ <input class="form-control" name="" id="" placeholder="" value="<%= dollarAmount %>" type="tel">                 
         </div>
         </script>
      </form>
          
      <p><a href="#" data-trigger="add-sugar-injection">+ Add Another Sugar Injection</a></p>
              
      <div class="tally hide">
        <ul>
          <li><span class="text">Transfer Request</span> $<span class="tally-amount">0.00</span></li>
          <li><span class="text">+ 3% Transfer Fee</span> $<span class="tally-percentage">0.00</span></li>
          <li><span class="text">Total Amount of Transfer Request &amp; Fee</span> $<span class="tally-total">0.00</span></li>
         </ul> 
      </div> 

            
    <p>Are you sure someone should eat all of that? Let's verify.</p>
    <button type="button" class="btn btn-primary">Next</button>
    <a href="#" class="close-bt">Cancel</a>

            


          <div class="bt-confirm hide">
            <h3 class="intro-header">Verify Your Balance Transfer Request</h3>
            <div class="group">
              <div class="header">
                <h3>Transfer 1</h3>
              </div>
              <h4>Creditor Name &amp; Address</h4>
              <p><span class="input-value"></span><br />
                P.O. Box 1207<br />
                Newark, NJ 07101</p>

              <dl>
                <dt>Account Number</dt>
                <dd>***********<span class="input-value mask"></span></dd>
              </dl>

              <div class="edit-remove">
                <a href="#" class="inline-cta">Edit</a> | <a href="#" class="inline-cta">Remove</a>
              </div> 
              
              <div class="transfer-value">
                $<span class="input-value"></span>
              </div>
            </div>
            
            <div class="group hide">
              <div class="header">
                <h3>Transfer 2</h3>
              </div>
              <h4>Creditor Name &amp; Address</h4>
              <p><span class="input-value"></span><br />
                P.O. Box 1207<br />
                Newark, NJ 07101</p>
              <dl>
                <dt>Account Number</dt>
                <dd>***********<span class="input-value mask"></span></dd>
              </dl>

              <div class="edit-remove">
                <a href="#" class="inline-cta">Edit</a> | <a href="#" class="inline-cta">Remove</a>
              </div>

              <div class="transfer-value">
                $<span class="input-value"></span>
              </div>

            </div>
             
            <div class="group hide">
              <div class="header">
                <h3>Transfer 3</h3>
              </div>
              <h4>Creditor Name &amp; Address</h4>
              <p><span class="input-value"></span><br />
                 P.O. Box 1207<br />
                 Newark, NJ 07101</p>

              <dl>
                <dt>Account Number</dt>
                <dd>***********<span class="input-value mask"></span></dd>
              </dl>

              <div class="edit-remove">
                <a href="#" class="inline-cta">Edit</a> | <a href="#" class="inline-cta">Remove</a>
              </div>

              <div class="transfer-value">
                $<span class="input-value"></span>
              </div>

            </div>
             
            <div class="tally">
              <ul>
                <li><span class="text">Transfer Request</span> $<span class="tally-amount">0.00</span></li>
                <li><span class="text">+ 3% Transfer Fee</span> $<span class="tally-percentage">0.00</span></li>
                <li><span class="text">Total Amount of Transfer Request &amp; Fee</span> $<span class="tally-total">0.00</span></li>
               </ul>
            </div>
            
            <a href="#" class="important-info">Important Information</a>
            <p class="save-note">Save to add these balance transfer requests and return to your application.</p>
            <a data-role="button" id="confirmBT" >
                Save
            </a>

            <a href="#" class="close-bt">Cancel</a>
            
          </div>
   </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  
  <script src="/scripts/main.js"></script>
  <script src="/scripts/models/models.js"></script>
  <script src="/scripts/collections/transfers.js"></script>
  <script src="/scripts/views/SugarInjectionView.js"></script>
  <script src="/scripts/views/EntryView.js"></script>
  <script src="/scripts/views/ApplicationView.js"></script>


  
</body>
</html>
